
body {
    background-color: grey;
}
input.placeholder {
    text-align: center;
}
#form{-webkit-box-shadow: inset -18px 2px 80px 0px rgba(0,0,0,0.22);
-moz-box-shadow: inset -18px 2px 80px 0px rgba(0,0,0,0.22);
box-shadow: inset -18px 2px 80px 0px rgba(0,0,0,0.22);

